h1 {
    color: rgb(0, 183, 255);
    text-align: center;
}
#map {
    height: 600px;
    width: 60%;
    display: block;
    /* outline: 2px solid blue; */
}
section.top {
    display: flex;
    /* outline: 2px solid red; */
}
section.bottom {
    display: block;
}
.locationInfo {
    width: 40%;
}
