h1 {
    color: rgb(0, 183, 255);
    text-align: center;
    margin: 20px;
}
section.top {
    display: flex;
    /* outline: 2px solid red; */
}
#map {
    height: 600px;
    width: auto;
    display: block;
    /* outline: 2px solid blue; */
}
section.bottom {
    display: block;
}
.locationInfo {
    width: 40%;
}

.locationDetailList,
.heading-info {
    margin: 20px 0;
}
